on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:  # Trigger workflow manually from GitHub UI

name: Integration Tests

jobs:
  ## Integration tests ##
  integration-rattler:
    #     validate recipe files.
    runs-on: ubuntu-latest
    timeout-minutes: 45
    name: Test on ${{ matrix.test-directory }}
    strategy:
      fail-fast: false
      matrix:
        test-directory:
          - anaconda_recipes_01
        include:
          - test-directory: anaconda_recipes_01
            convert-success: 0.90
            rattler-success: 0.75
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: conda-incubator/conda-recipe-manager-test-data
          path: test_data
          sparse-checkout: |
            recipes_v0/anaconda_recipes_01
      - uses: ./.github/actions/setup-env
        with:
          python-version: "3.11"
      - name: Convert recipes and full rattler-build
        run: |
          source $CONDA/bin/activate
          conda activate conda-recipe-manager
          conda install -y -c conda-forge rattler-build
          mkdir -p logs
          set -o pipefail
          export PREFIX=""
          export RECIPE_DIR=""
          conda-recipe-manager \
            convert -t -m ${{ matrix.convert-success }} -o recipe.yaml test_data/recipes_v0/${{ matrix.test-directory }} \
            | tee logs/convert_${{ matrix.test-directory }}.log
          # Removed --render-only for full build instead of dry-run
          conda-recipe-manager \
            rattler-bulk-build -t -m ${{ matrix.rattler-success }} test_data/recipes_v0/${{ matrix.test-directory }} \
            | tee logs/rbb_${{ matrix.test-directory }}.log
      - uses: actions/upload-artifact@v4
        with:
          name: integration-logs-${{ matrix.test-directory }}
          path: logs/*.log

  integration-final-results:
    runs-on: ubuntu-latest
    name: Integration Testing Final Report
    needs: [integration-rattler]
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: ./.github/actions/setup-env
        with:
          python-version: "3.11"
      - name: Make artifact directory
        run: mkdir -p logs
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: logs/
      - name: Integration Testing Report
        run: |
          source $CONDA/bin/activate
          conda activate conda-recipe-manager
          set -o pipefail
          scripts/parse_ci_output.py logs/ | tee report.json
          echo -e "Integration Report:\n\`\`\`json\n" >> ${GITHUB_STEP_SUMMARY}
          cat report.json >> ${GITHUB_STEP_SUMMARY}
          echo -e "\n\`\`\`" >> ${GITHUB_STEP_SUMMARY}
